body {
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000;
	background-color: rgb(255,233,52); 
}


/* HEADER */
#header-nav {
  background-color: #4097d6;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../LOGO_REMODELADA.jpg') no-repeat;
  width: 416px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p { 
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}

.navbar-brand p  span {
	text-transform: none; 
  color: #000;
}

#nav-list {
	margin-top: 40px;
}

#nav-list a {
  color: rgb(255,233,52);
  text-align: center;
}

#nav-list a:hover {
  background: #404040;
}

#nav-list a span {
  font-size: 1.8em;
}

#nav-list li {
	width: 108.219px;
}

/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #999900;
  border: 2px solid #008fb3;
}

#map-tile, #photos-tile, #magazine-tile {
	height: 262px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #008fb3;
	overflow: hidden;
}



#map-tile:hover, #photos-tile:hover, #magazine-tile:hover {
  box-shadow: 0 3px 5px 3px #404040;
}

#photos-tile {
  background: url('../fotos.jpg') no-repeat;
  background-position: center;
}

#magazine-tile {
  background: url('../fotos.jpg') no-repeat;
  background-position: center;
}

#map-tile span, #photos-tile span, #magazine-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .7;
}

/* FOOTER */
#hours span, #address span {
  font-weight: bolder;
  font-size: 1.5em;
}

.panel-footer {
  background-color: #4097d6;
  color: rgb(255,233,52);
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  	.container .jumbotron {
    	background: url('../jumbotron1200.jpg') no-repeat;
    	height: 760px;
  	}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  	/* Header */
  	#logo-img {
    	background: url('../canario1(mid).png') no-repeat;
    	width: 100px;
    	height: 100px;
    	margin: 5px 5px 0px 0;
	}

  	.navbar-brand h1 {
  		font-size: 1.5em;
  	}

  	.navbar-brand p { 
  		margin-top: 5px;
  	}

  	#nav-list {
		margin-top: 15px;
  	}
  	/* End Header */

  	/* Home Page */
  	.container .jumbotron {
    	background: url('../jumbotron992.jpg') no-repeat;
    	height: 626px;
  	}
  	/* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  	.container .jumbotron {
    	background: url('../jumbotron768.jpg') no-repeat;
    	height: 480px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
	/* Home Page */
  	.container .jumbotron {
  		margin-top: 30px;
  		padding: 0;
  	}
}

